<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}: %msg%n"/>
        </Console>
        <RollingFile name="File" append="True"
                     filename="Logs\testing.log" filePattern="Logs\testing-%i.log" >
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}: %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy minSize="0"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <appenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>

